* {
	-webkit-box-sizing: border-box;
 	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.content, .success-msg, .warning-msg, .error-msg {
	width: 80%;
	max-width: 1000px;
	min-width: 500px;
	margin-left: auto;
	margin-right: auto;
}

.success-msg, .warning-msg, .error-msg {
	padding: 1rem;
	padding-left: 3rem;
	margin-bottom: 0.7rem;
}

.msg-icon {
	float: left;
	position: relative;
	left: -2rem;
	top: -0.2rem;
	width: 0;
}

.content {
	margin-top: 3rem;
}

.content-header {
	padding: 1em 1rem 1em 1rem;
	min-height: 80px;
	width: 100%;
}

.content-body {
	padding: 1rem;
}

.content-with-sidebar {
	display: table;
	position: relative;
	width: 100%;
}

.sidebar {
	position: absolute;
	height: 100%;
	width: 20%;
	padding: 0.5rem;
}

.sidebar .active {
	margin-top: 0.2em;
	margin-bottom: 0.3em;
	padding: 0.2em;
}

.sidebar .inactive {
	margin-top: 0.2em;
	margin-bottom: 0.3em;
	padding: 0.2em;
}

.content-with-sidebar > .content-body {
	width: 80%;
	float: right;
}

/* Elements */

.box > .close,
.field-error-msg > .close,
.success-msg > .close,
.warning-msg > .close,
.error-msg > .close,
ui-icon-closethick {
	position: relative;
	top: -0.3rem;
	right: -0.1rem;
	float: right;
	margin-left: 0.3em;
}

table {
	max-width: 100%;
	margin-bottom: 0.8rem;
}

table th, table td {
	padding: 0.4em;
}

table.table.center {
	margin-left: auto;
	margin-right: auto;
}

section {
	margin-bottom: 0.8rem;
}

section > .body {
	margin-top: 0.4rem;
}

section.box, .field-error-msg {
	padding: 0.6em;
}

label {
	display: block;
}

.inline {
	display: inline-block;
	padding-right: 0.5em;
}

label.inline {
	width: 33%;
	vertical-align: top;
}

/* Errors */

.field-error-msg {
	margin-left: 3em;
	margin-top: 0.3em;
	width: 60%;
	min-width: 200px;
}
